.container {
    background-color: rgb(221, 221, 219);  
    opacity: 0.9;  
}

.row {
    /* background-color: rgb(247, 225, 217); */
}

#f2 {
    margin: 3%;
}
#calculator{
    opacity: 1.0;  

    margin: 3%;

}

