<div class="container col-10">
    <div class="text-center">
        <h1>Kalkulator leasingowy</h1>
        <br>
        <h2>Sprawdź jakie to proste!</h2>
    </div>
    <div class="row">
        <div class="col-lg-6 order-2 order-lg-1" id="calculator">
            <app-calculator [vehiclePrice]="vehicles[counter].price"></app-calculator>
        </div>

        <div class="col-lg-6 order-1 order-lg-2 mb-3" id="f2">
            <div class="row">
                <a class="carousel-control-prev" role="button" (click)="prev()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="48" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                        <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                     </svg>
                </a>
                <img class="col-8 offset-2" id="image" src={{vehicles[counter].img}}>
                <a class="carousel-control-next" role="button" (click)="next()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="48" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                </a>
            </div>

            <div class="row">
                <div class="col-xl-8" id="name">
                    <b>{{vehicles[counter].name}}</b>
                </div>
                <div class="col-xl-4" id="price">
                    Cena (brutto): {{vehicles[counter].price}}
                </div>
            </div>
        </div>


    </div>

</div>