.navbar {
    height: 80px;
    background-color: rgb(33, 166, 175);
}

.navbar-brand {
    text-align: center;
    margin: auto;
}

.box{
    background-color: darkgray;
    padding: 8px;
}
#b1{
    margin-left: 10%;
}
#b2{
    margin-right: 10%;
}