.navbar {
    min-height: 80px;
    background-color: rgb(30, 160, 180);
}

.box {
    margin: auto;
    background-color: darkgray;
    padding: 8px;
    box-shadow: 3px 3px 3px gray;
}

h2 {
    padding: 10px 0 10px 0;
    margin: auto;
    color: white;
    text-shadow: 4px 4px 5px gray;
}