#lastRow {
    display: flex;
    align-content: center;
}

#label {
    font-size: 1.4em;
}

#price {
    font-size: 2em;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom-slider {
    font-size: 16px;
}