<div class="container col-12">
    <div class="row">
        <div class="form-group col-12">
            <label for="formControlRange">Wpłata własna</label>
            <input type="range" class="form-control-range" id="formControlRange1">
          </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <label for="formControlRange">Liczba rat</label>
                <input type="range" class="form-control-range" id="formControlRange2">
              </div>
        </div>
        <div class="row">
        <div class="form-group col-12">
            <label for="formControlRange">Limit kilometrów</label>
            <input type="range" class="form-control-range" id="formControlRange3">
            </div>
        </div>
                        
    <div class="row">
        <div class="col-6"><b>Twoja rata</b></div>
        <div class="col-6"><b>500zł</b></div>
    </div>

</div>