<div class="container col-12">
    <div class="row">
        <div class="form-group col-12">
            <div class="mb-2">
                <label>Wpłata własna: <b>{{initialPaymant()}} zł</b></label>
            </div>
            <div class="custom-slider">
                <ng5-slider [(value)]="value1" [options]="options1"></ng5-slider>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <label>Liczba rat (mies.)</label>
            <div class="custom-slider">
                <ng5-slider [(value)]="value2" [options]="options2"></ng5-slider>
            </div>
        </div>
    </div>

    <!-- <div class="row">
        <div class="form-group col-5">
            <label for="formControlRange">Koncowe rozliczenie:</label>
        </div>
        <div class="form-group col-5 form-check-inline">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Wykup</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Zwrot</label>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="form-group col-12">
            <label>Wykup: <b>{{redemption()}} zł</b> </label>
            <div class="custom-slider">
                <ng5-slider [(value)]="value3" [options]="options3"></ng5-slider>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6" id="label"><b>Twoja rata</b></div>
        <div class="col-6" id="price"><b>{{installment() | number: '1.0-0'}}zł</b></div>
    </div>