/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato/Lato-Bold.ttf')  format('truetype');
  }

  .disable-selection {
    user-select: none; 
}

html,
body {
  
    height: 100%;
}